/* General setup */
<!-- 
Name: Michael Mcdonald
File: BiographyPage.html
Date: 15 October 2025
A school homepage
-->

* {
  box-sizing: border-box;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}

.crimson-text-regular-italic {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: italic;
}

.crimson-text-semibold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: italic;
}

.crimson-text-bold-italic {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: italic;
}

.cormorant-garamond-<uniquifier> {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
	font-family: "Cormorant Garamond", serif;
	font-weight: 500;
	font-size: 1.2em;
	line-height: 1.2;
	letter-spacing: 1px;
}
h1 {
	font-family: "Crimson Text", serif;
	font-weight: 700;
	text-align: center;
	letter-spacing: 1px;
}
h2 {
	font-family: "Crimson Text", serif;
	font-weight: 700;
	margin-bottom: auto;
	letter-spacing: 1px;
}
section {
	text-indent:2rem;
}
a:visited{
	color: #aa6666;
}
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}
a[href^="http"]::after {
	content: "";
  	display: inline-block;
  	width: 0.5em;
  	height: 0.5em;
  	margin-left: 0.25em;

  	background-size: 100%;
  	background-image: url("external-link-52.png");
}


/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
  border-bottom: 5px solid #aa6666;
}

footer {
  border-top: 5px solid #aa6666;
}

footer p {
  text-align: center;
}